<div class="flex min-h-screen">
    <!-- Left Section - Login Form -->
    <div>
      <!-- Logo y Texto juntos -->
      <div class="absolute flex items-center top-5 left-5">
        <img src="/src/assets/hands.png"
             alt="Logo"
             class="opacity-75 object-cover w-20 h-20 rounded-full mr-2" />
        <span class="text-xl font-medium">Sol</span>
      </div>
    </div>
   
    <div class="w-full lg:w-[40%] p-8 md:p-12 flex flex-col justify-center  bg-[#F0F0F0]">
      <div class="max-w-sm mx-auto w-full">
        <!-- Login Form -->
        <div class="space-y-6">
          <div>
            <h1 class="text-2xl font-semibold mb-1">Welcome back to Sol</h1>
            <p class="text-gray-500">Enter your details</p>
          </div>
          <div class="space-y-4">
            <div>
              <input type="email" placeholder="Email" class="w-full bg-[#F0F0F0] p-3 border-b-2" id="email" />
            </div>
            <div>
              <input type="password" placeholder="Password" class="w-full bg-gray-50 p-3 border-b-2" id="password" />
              <a href="/forgot-password" class="text-sm text-gray-500 hover:text-gray-700 mt-2 inline-block border-b-2-black">
                Forgot password
              </a>
            </div>
            <button onclick="handleLogin()" class="w-full bg-emerald-400 hover:bg-emerald-500 text-white py-2 rounded-md transition-colors">
              Log in
            </button>
            <p class="text-center text-sm text-gray-500">
              Don’t have an account?
              <a href="/signup" class="text-black hover:underline underline-offset-4">
                Sign up for free
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
   
    <!-- Right Section - Image -->
    <div class="hidden lg:block lg:w-[60%] bg-[#F0F0F0] relative">
      <!-- Placeholder Content -->
      <div class="absolute inset-0 flex items-center justify-center">
        <!-- Imagen en el recuadro -->
        <img
          src="/src/assets/login.jpg"
          alt="Imagen de fondo"
          class="relative w-[60%] h-[100%] object-cover -rotate-90 rounded-bl-3  xl rounded-tr-3xl " />
      </div>
      <div class="absolute bottom-12 left-1/2 transform -translate-x-1/2">
        <h2 class="text-4xl font-semibold">Sol</h2>
      </div>
    </div>
   
  </div>
  
  
  