---

---

<footer>
    <div class="bg-black pb-64 ">
        <span>
            <p class="text-sm font-bold text-gray-400 text-center"> 
                desarrollado por el sena
            </p>
        </span>
    </div>
</footer>