---
console.log('javascript')
---
<header class="fixed w-[1787px] rounded-xl bg-[#000000] opacity-45 shadow-md mt-5 ml-10">
    <nav class="p-4">
      <div class="max-w-7xl mx-auto flex items-center justify-between">
        <!-- Aseguramos que "SigNa" esté alineado a la izquierda -->
        <span class="text-white text-3xl font-semibold">SigNa</span>

        <div class="flex items-center gap-4">
          <a href="#" class="text-white hover:text-gray-400 mr-60">Models</a>
          <a href="#" class="text-white hover:text-gray-400 mr-60">Doc</a>
          <button class="font-bold px-7 py-1 bg-emerald-600 text-white rounded-xl hover:bg-[#6AD0B2] transition-colors">
            Log in
          </button>
          <button class="font-bold px-7 py-1 border-2 rounded-xl text-white hover:text-emerald-700">
            Sign in
          </button>
        </div>
      </div>
    </nav>
</header>

