---


---

<main>

    <div class="min-h-screen bg-black p-6  relative border-">
        {/* Imagen decorativa superior derecha */}
        <div class=" absolute top-0 right-0 w-200 h-200 opacity-60 scale-y-[-1]  ">
          <img
            src="/src/assets/ai_mano.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
      
        {/* Contenedor de contenido */}
        <div class="flex flex-col items-center justify-center min-h-screen">
          <h1 class="text-[#c8f1e6] text-6xl md:text-7xl mb-12 font-bold">
            Objetive
          </h1>
      
          <div class="relative w-full max-w-4xl">
            <div class="bg-gray-400 rounded-2xl p-8 bg-opacity-50 backdrop-blur-sm border-2">
              {/* Insignia de número */}
              <div class="absolute -right-3 -top-3 w-16 h-16 bg-[#00ddb3] rounded-2xl flex items-center justify-center text-3xl font-bold">
                1
              </div>
      
              {/* Contenido de texto */}
              <p class="text-white/90 text-xl md:text-2xl leading-relaxed">
                <span class="text-[#ffffff]">
                  SigNa es un intérprete que utiliza Machine Learning
                </span>{' '}
                <span class="text-[#ffffff]">
                  y Deep Learning para reducir las barreras de
                </span>{' '}
                <span class="text-[#ffffff]">
                  comunicación entre personas Sordas y Oyentes.
                </span>{' '}
                <span class="text-[#ffffff]">
                  Al facilitar la interacción en entornos educativos,
                </span>{' '}
                <span class="texplaceholder.svg?height=400&width=400t-[#40a7ff]">
                  laborales y cotidianos, promueve la igualdad de
                </span>{' '}
                <span class="text-[#ffffff]">
                  oportunidades y fomenta la inclusión social.
                </span>
              </p>
            </div>
          </div>
        </div>
      
        {/* Imagen decorativa inferior izquierda */}
        <div class="absolute bottom-0 left-0 w-200 h-200 opacity-60 scale-x-[-1] hidden-on-load">
          <img
            src="/src/assets/ai_mano.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
      </div>
      


</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('animate-fadeIn');
          }
        });
      },
      { threshold: 0.1 } // Se activa cuando el 10% del elemento es visible
    );

    const hiddenElements = document.querySelectorAll('.hidden-on-load');
    hiddenElements.forEach((el) => observer.observe(el));
  });
</script>

