---
import type { HTMLAttributes } from 'astro/types';
import Icon from 'astro-icon';

interface Props extends HTMLAttributes<'button'> {
  icon: string; // Nombre del ícono a mostrar
  label: string; // Etiqueta del botón
  isActive?: boolean; // Estado del botón
}

// Extraer las propiedades de Astro.props
const { icon, label, isActive = false , ...props } = Astro.props;
---

<div class="flex flex-col items-center gap-1">
  <button
    class:list={[
      "h-12 w-12 rounded-full border-2 p-0",
      isActive ? "bg-emerald-200 border-emerald-300" : "border-gray-200"
    ]}
    {...props}
  >
    
   
    
  </button>
  <span class="text-xs text-gray-600">{label}</span>
</div>
